extends layout 
 
block content 
  h1= title 
 
  form(id='bagForm', action="/resource/bags", method="POST") 
    div.form-group 
        label.bagAttr(for='bag_type') bag type 
        input#bag_type(type='text', name='bag_type') 
    div.form-group 
        label.bagAttr(for='bag_Name') bag Name 
        input#bag_Name(type='text', name='bag_Name') 
    div.form-group 
        label.bagAttr(for='cost') bag cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['bagForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 